<%- include('partials/header') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="">
    <a class="navbar-brand nav-title" href="/">PMS</a>
  </div>

  <div class="navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer">About</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <i class="fas fa-globe fa-6x"></i>
    <h1 class="display-3">Population Measurement Software</h1>
    <p class="lead">Population Statistics at a Single Click!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<!-- Features -->

<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Easy to use.</h3>
        <p>So Easy to use.</p>
      </div>
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3 class="feature-title">Fast</h3>
        <p>Fast Results in seconds.</p>
      </div>
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-heart fa-4x"></i>
        <h3 class="feature-title">Guaranteed to work.</h3>
        <p>Surely help in your Analysis.</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->

<footer class="white-section" id="footer">
  <div class="container-fluid">
    <i class="social-icon fab fa-facebook"></i>
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-instagram"></i>
    <i class="social-icon fas fa-envelope"></i>
    <p>© Copyright 2021 PMS</p>
  </div>
</footer>

<%- include('partials/footer') %>
