<%- include('partials/header') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="">
    <a class="navbar-brand nav-title" href="/">PMS</a>
  </div>

  <div class="navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#features">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <a class="btn btn-light btn-lg float-left" href="/secrets" role="button">Home</a>
  <a class="btn btn-light btn-lg float-right" href="/logout" role="button">Log Out</a>

  <div class="container">
    <i class="fas fa-globe fa-6x"></i>
    <h1 class="display-3">Welcome to Population Measurement Software!</h1>
    <p class="secret-text">Population Demographics at a Single Click!</p>
    <hr>

    <div class="">
      <h4> Select one of the following options.</h4>
      <br />
      <div class="btn btn-dark btn-md float-left">
        <a class="btn btn-dark btn-sm" href="/country" role="button">Country Demographics</a>
      </div>
      <div class="btn btn-dark btn-md ">
        <a class="btn btn-dark btn-sm" href="/state" role="button">State Demographics</a>
      </div>
      <div class="btn btn-dark btn-md float-right">
        <a class="btn btn-dark btn-sm" href="/city" role="button">City Demographics</a>
      </div>
    </div>



    <!-- <a class="btn btn-dark btn-sm" href="/submit" role="button"></a> -->
  </div>
</div>

<%- include('partials/footer') %>
